.chatContentContainer{
    height: 80vh;
    border: solid 1px;
    background-color: rgb(238, 234, 234);
}
.newMessageBox{
    border: solid 1px;
    height: 7vh;
}

/* anything above 767, apply  */
@media(min-width:769px){
.chatroomContent{
    /* width: 80vw; */
    margin-right: 40vw;
}
}